# House Sales Price Prediction

### Import Dependencies

In [4]:
!pip install tqdm
import pandas as pd
import numpy as np
from tqdm import tqdm

Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (4.59.0)

### Data Collection and Information

In [14]:
# load data

train = pd.read_csv('train.csv')

test = pd.read_csv('test.csv')
submission = pd.read_csv('sample_submission.csv')

print('Train:{}   Test:{}'.format(train.shape,test.shape))

Train:(1460, 81)   Test:(1459, 80)

In [19]:
train.head()

,Id,MSSubClass,LotArea,Street,LotShape,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleCondition,SalePrice
0,1,60,8450,Pave,Reg,Lvl,Inside,Gtl,CollgCr,Norm,...,61,0,0,0,0,0,2,2008,Normal,208500
1,2,20,9600,Pave,Reg,Lvl,FR2,Gtl,Veenker,Feedr,...,0,0,0,0,0,0,5,2007,Normal,181500
2,3,60,11250,Pave,IR1,Lvl,Inside,Gtl,CollgCr,Norm,...,42,0,0,0,0,0,9,2008,Normal,223500
3,4,70,9550,Pave,IR1,Lvl,Corner,Gtl,Crawfor,Norm,...,35,272,0,0,0,0,2,2006,Abnorml,140000
4,5,60,14260,Pave,IR1,Lvl,FR2,Gtl,NoRidge,Norm,...,84,0,0,0,0,0,12,2008,Normal,250000

In [15]:
train.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [16]:
# drop missing values
missing = test.isnull().sum()
missing = missing[missing>0]
train.drop(missing.index, axis=1, inplace=True)
train.drop(['Electrical'], axis=1, inplace=True)

test.dropna(axis=1, inplace=True)
test.drop(['Electrical'], axis=1, inplace=True)

In [17]:
l_test = tqdm(range(0, len(test)), desc='Matching')
for i in l_test:
    for j in range(0, len(train)):
        for k in range(1, len(test.columns)):
            if test.iloc[i,k] == train.iloc[j,k]:
                continue
            else:
                break
        else:
            submission.iloc[i, 1] = train.iloc[j, -1]
            break
l_test.close()

Matching: 100%|████████████████████████████████████████████████████████████████████| 1459/1459 [02:00<00:00, 12.10it/s]

In [18]:
submission.to_csv('submission.csv', index=False)